.heading{
    font-weight: bold;
    margin-top: 5rem;
    font-size:xx-large;
    gap:1rem;
    font-family:"Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif";
    text-wrap:wrap;
}
.heading2{
    font-size: large;
}
.part-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
}
.car-animation{
    display: flex;
    justify-self: center;
    width:20rem;
}
.logindiv{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-top: 4rem;
}
.login-page{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    background-color: black;
    color:white;
    padding-bottom: 5rem;
    min-height: 100vh;
    height:fit-content;
    place-content: center;
}
.loginform{
    width:24rem;
    background-color:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.2); 
    height:fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}
.form-top{
    border: 1px solid rgba(255,255,255,0.2);
    width:24rem;
    margin-bottom: 0;
    text-align: center;
    background-color:rgba(255,255,255,0.05);
    color:white;
}
.sign-in{
    color:aliceblue;
    background-color:black;
    position:relative;
    display: flex;
    justify-content: center;
    align-self: center;
}
.log-in{
    background-color:aliceblue;
    color:black;
    position:relative;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap:1rem;
}
.btns{
    display:flex;
    flex-direction: row;
    gap:1rem;
    justify-content: center;
    margin-top: 2rem;
}
.otpbox{
    display:flex;
    flex-direction: column;
}
.forget-pass{
    margin-top: 0.8rem;
    color:royalblue;
    text-decoration: underline;
}
.dashboardbtn{
    text-decoration: none;
    background-color:darkcyan;
    color:white;
    padding: 0.3rem;
}
.car-animation{
    margin-left: -3rem;
}
@media  screen and (max-width:800px) {
    .login-page{
        display: grid;
        grid-template-columns: 1fr;
        place-content: center;
    }
}
@media screen and (min-width:600px)  {
    .heading{
        text-align: center;
    }
    .heading2{
        text-align: center;
    }
    .heading3{
        text-align: center;
    }
    .car-animation{
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
}