.text {
    font-size: 24px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    align-self: center;
}

.animationdiv {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-right: 100px;
}