.brand-name{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
.horizontalNav{
    background-color:white;
    padding-bottom: 5px;
    color:black !important;
 }
 .verticalNav{
    background:black;
 }


