.footer{
    background-color:rgba(0, 0, 0, 0);
    color:white;
    height:fit-content;
    margin-top: 4rem;
    width:100%;
}
.footer-content{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-between;
    width:100%;
}
.policies{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.links{
    text-decoration:none;
    color:"white";
}
@media  screen and (max-width:999px) {
   .footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:50px;
    width:100%;
   } 
}